// 스타일 변수 파일

$charcoalGrey: #30333b;
$rosyPink-50: rgba(245, 119, 141, 0.5);
$paleTeal-50: rgba(134, 202, 186, 0.5);
$lightGreyBlue-50: rgba(134, 161, 202, 0.5);

$bgBlack: #151619;
$bgDarkGrey: #202227;
