// 공통 스타일
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');
* {
}

body {
  min-width: 320px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.313;
  background-color: $bgBlack;
}

.heading {
  padding: 0 0.75rem 0 1rem;
  background-color: $bgDarkGrey;
  &__inner {
    @apply flex items-center justify-between;
    height: 3.25rem;
    border-bottom: 1px solid $charcoalGrey;
  }
  &__title {
    color: #edeff2;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.18px;
  }
  &__side {
    color: #a7acb9;
    font-size: 0.875rem;
    letter-spacing: -0.28px;
    &::after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 2px;
      background: url(~@/assets/img/icon_arrow_right.svg) no-repeat center
        center / cover;
      vertical-align: middle;
    }
  }
}

.week {
  padding: 0.6875rem 1rem;

  background-color: $bgDarkGrey;
  &__list {
    padding: 0.5rem;
    color: #a7acb9;
    text-align: center;
    &--name {
      margin-bottom: 0.5rem;
      font-family: 'NotoSansKR', 'Pretendard', sans-serif;
      font-size: 0.8125em;
    }
    &--date {
      font-family: 'Roboto', 'Pretendard', sans-serif;
      font-weight: 500;
      font-size: 0.9375em;
    }
    &--active {
      color: #24272d;
      border-radius: 10%;
      background-color: #edeff2;
    }
  }
}

.text {
  height: 5000px;
  overflow-y: auto;
  li {
    .box {
      width: 100%;
      height: 200px;
      line-height: 200px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      background: #333;
    }
  }
}

/* 고수들의 투자비법 */
.invst {
  overflow-x: auto;
  width: 100%;
  padding: 1rem 0 1.625rem 1rem;
  white-space: nowrap;
  background-color: $bgDarkGrey;
  // 가로 스크롤은 적용되지만 보이지 않도록 스타일 처리
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__card {
    display: inline-block;
    width: 10rem;
    height: 13.5rem;
    padding: 0.875em 0.875em 0.75rem;
    margin-right: 0.5rem;
    color: #edeff2;
    border: 1px solid rgba(69, 74, 84, 0.5);
    border-radius: 10%;
    background-color: $charcoalGrey;
    box-sizing: border-box;

    .tag {
      padding: 0.1875rem 0.625rem;
      color: white;
      font-size: 0.8125rem;
      letter-spacing: -0.26px;
      border-radius: 0.25rem;
      &--domestic {
        background-color: $lightGreyBlue-50;
      }
      &--overseas {
        background-color: $rosyPink-50;
      }
      &--trend {
        background-color: $paleTeal-50;
      }
    }

    &--title {
      padding: 0.75rem 0 1.25rem;
      letter-spacing: -0.32px;
      white-space: break-spaces;
      border-bottom: 1px solid rgba(69, 74, 84, 0.5);
    }

    .profile {
      @apply flex items-center;
      &__img {
        overflow: hidden;

        width: 2rem;
        height: 2rem;
        border: 1px solid #f9fafb;
        border-radius: 50%;
        box-sizing: border-box;

        &--active {
          position: absolute;
          right: -0.469rem;
          bottom: 0;
          display: block;
          width: 0.9375rem;
          height: 0.9375rem;
          border-radius: 50%;
          background-color: #3384ff;
        }
      }
      &__text-box {
        margin-left: 0.9375rem;
        &--name {
          font-size: 0.9375rem;
        }
        &--active {
          color: #3384ff;
          font-size: 0.8125em;
        }
      }
    }
  }
}
