// 공통 스타일
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');
* {
}

body {
  min-width: 320px;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.313;
  background-color: $bgBlack;
}

.heading {
  padding: 0 0.75rem 0 1rem;
  background-color: $bgDarkGrey;
  &__inner {
    @apply flex items-center justify-between;
    height: 3.25rem;
    border-bottom: 1px solid $charcoalGrey;
  }
  &__title {
    color: #edeff2;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.18px;
  }
  &__side {
    color: #a7acb9;
    font-size: 0.875rem;
    letter-spacing: -0.28px;
    &::after {
      content: '';
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-left: 2px;
      background: url(~@/assets/img/icon_arrow_right.svg) no-repeat center
        center / cover;
      vertical-align: middle;
    }
  }
}

.week {
  padding: 0.6875rem 1rem;

  background-color: $bgDarkGrey;
  &__list {
    padding: 0.5rem;
    color: #a7acb9;
    text-align: center;
    &--name {
      margin-bottom: 0.5rem;
      font-family: 'NotoSansKR', 'Pretendard', sans-serif;
      font-size: 0.8125em;
    }
    &--date {
      font-family: 'Roboto', 'Pretendard', sans-serif;
      font-weight: 500;
      font-size: 0.9375em;
    }
    &--active {
      color: #24272d;
      border-radius: 10%;
      background-color: #edeff2;
    }
  }
}

.text {
  height: 5000px;
  li {
    .box {
      width: 100%;
      height: 200px;
      line-height: 200px;
      margin-bottom: 20px;
      color: white;
      text-align: center;
      background: #333;
    }
  }
}
